body {
  font-family: Arial;
  background-color: rgb(174, 224, 236);
  margin: 0;
  padding: 0;
}

table {
  width: 60%;
  margin: 20px;
  border: rgb(206, 78, 78);
}

th, td {
  padding: 10px;
  border: 2px solid #f03232;
  text-align: center;
}

th {
  background-color: #c3fff7;
  text-align: center;
}

img {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}

tr:nth-child(even) {
  background-color: rgb(241, 171, 171);
}